.decription-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.desc {
  width: 1441px;
}

.left-features,
.right-feature {
  flex: 1;
  text-align: right;
  background: url("../../assets/inspect.svg");
}

.center-feature {
  flex: 1;
  text-align: center;
  background: url("../../assets/group.svg");
  background-size: contain;
  margin-left: 190px;
  margin-right: 190px;
}

.headerTitle {
  font-size: 24px;
  color: #103c55;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
}
.headerTitle:hover {
  color: #f16333;
}
.infoText {
  font-size: 20px;
  color: #103c55;
  font-family: "IBM Plex Sans Arabic";
  font-weight: 600;
  height: 60px;
  width: 400px;
  margin-left: 200px;
}
.infoText:hover {
  color: #fff;
}
.one:hover {
  background: #3e90c0;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: 400px;
  margin-left: 200px;
}
.two:hover {
  background: #ffbd00;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: 400px;
  margin-left: 200px;
}
.three:hover {
  background: #c31162;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: 400px;
  margin-left: 200px;
}

.four:hover {
  background: #228b4b;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: 400px;
  margin-left: 200px;
}
.five:hover {
  background: #f16333;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: 400px;
  margin-left: 200px;
}
.six:hover {
  background: #9747ff;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 5px;
  width: 400px;
  margin-left: 200px;
}
.img-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.right-feature {
  padding-right: 80px;
}

.left-content,
.right-content {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .decription-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .right-feature {
    padding-right: 0px;
  }
  .infoText,
  .one:hover,
  .two:hover,
  .three:hover,
  .four:hover,
  .five:hover,
  .six:hover {
    margin-left: 0px;
  }
  .center-feature {
    display: none;
    margin: 0;
  }
}
