.uploading {
  width: 1000px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload {
  margin-top: 30px;
  text-align: end;
  color: #103c55;
}

.upload-btn {
  margin-top: 30px;
  width: 500px;
  height: 48px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #f16333;
}

.next-upload {
  margin-top: 0px;
  margin-left: 40px;
  background: #f16333;
  border: none;
  width: 100px;
  border-radius: 5px;
  height: 48px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .uploading {
    width: 300px;
  }
  .next-upload {
    margin-left: 0;
  }
  .upload {
    width: 300px;
  }
}
