footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #103c55;
  padding: 20px;
}
.leftContent {
  padding-left: 80px;
}
.rightContent {
  color: #fff;
  text-align: end;
  padding-right: 60px;
}

.rightContent img {
  width: 100px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons img {
  width: 30px;
}

.rightContent .motto img {
  width: auto;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column-reverse;
  }
  .rightContent {
    width: 100%;
    padding-right: 0;
  }
  .motto {
    display: none;
  }
}
